    /*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
        .snapshots{
            margin-top: -45%;
        }
        h1{
            margin-bottom: 10px;
            font-size: 33px;
            letter-spacing: 1px;
        }
        .cta, .list-item{
            font-size: 15px;
            letter-spacing: 1px;
        }  
        .instructions, .rules{
            font-size: 14px;
            letter-spacing: 1px;
        }
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {
        .snapshots{
            margin-top: -40%;
        } 
        h1{
            margin-bottom: 10px;
            font-size: 40px;
            letter-spacing: 1px;
        }
        .cta, .list-item{
            font-size: 25px;
            letter-spacing: 1px;
        }  
        .instructions, .rules{
            font-size: 24px;
            letter-spacing: 1px;
        } 
        .limit{
            font-size: 33px;
        }       
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
        .snapshots{
            margin-top: -40%;
        }
        h1{
            margin-bottom: 10px;
            font-size: 69px;
            letter-spacing: 1px;
        }
        .cta, .list-item{
            font-size: 41px;
            letter-spacing: 1px;
        }  
        .instructions, .rules{
            font-size: 40px;
            letter-spacing: 1px;
        } 
        .limit{
            font-size: 53px;
        }          
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
        .snapshots{
            margin-top: -30%;
        }
        h1{
            margin-bottom: 10px;
            font-size: 92px;
            letter-spacing: 1px;
        }
        .cta, .list-item{
            font-size: 55px;
            letter-spacing: 1px;
        }  
        .instructions, .rules{
            font-size: 54px;
            letter-spacing: 1px;
        } 
        .limit{
            font-size: 69px;
        }         
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
        .snapshots{
            margin-top: -25%;
        }
        h1{
            margin-bottom: 10px;
            font-size: 113px;
            letter-spacing: 1px;
        }
        .cta, .list-item{
            font-size: 67px;
            letter-spacing: 1px;
        }  
        .instructions, .rules{
            font-size: 66px;
            letter-spacing: 1px;
        } 
        .limit{
            font-size: 97px;
        }        
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1700px) {
        .snapshots{
            margin-top: -17%;
        }
    }