<!-- Update your html tag to include the itemscope and itemtype attributes. -->
<html itemscope itemtype="http://schema.org/Type">

<!-- Place this data between the <head> tags of your website -->
<title>Radio Disney's Haunted Halloween</title>
<meta name="description" content="ENTER FOR A CHANCE TO WIN A TRIP TO DISNEYLAND TO RIDE THE HAUNTED MANSION ATTRACTION WITH KAT CRESSIDA, THE VOICE OF THE BLACK WIDOW BRIDE!" />

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="Radio Disney's Haunted Halloween">
<meta itemprop="description" content="ENTER FOR A CHANCE TO WIN A TRIP TO DISNEYLAND TO RIDE THE HAUNTED MANSION ATTRACTION WITH KAT CRESSIDA, THE VOICE OF THE BLACK WIDOW BRIDE!">
<meta itemprop="image" content="https://s3.amazonaws.com/myfangate.com/rdhauntedsweepstakes/sharecard.jpg">

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@radiodisney">
<meta name="twitter:title" content="Radio Disney's Haunted Halloween">
<meta name="twitter:description" content="ENTER FOR A CHANCE TO WIN A TRIP TO DISNEYLAND TO RIDE THE HAUNTED MANSION ATTRACTION WITH KAT CRESSIDA, THE VOICE OF THE BLACK WIDOW BRIDE!">
<meta name="twitter:creator" content="@radiodisney">
<meta name="twitter:image" content="https://s3.amazonaws.com/myfangate.com/rdhauntedsweepstakes/sharecard.jpg">

<!-- Open Graph data -->
<meta property="og:title" content="Radio Disney's Haunted Halloween" />
<meta property="og:type" content="article" />
<meta property="og:url" content="https://rdhauntedsweepstakes.herokuapp.com" />
<meta property="og:image" content="https://s3.amazonaws.com/myfangate.com/rdhauntedsweepstakes/sharecard.jpg" />
<meta property="og:description" content="ENTER FOR A CHANCE TO WIN A TRIP TO DISNEYLAND TO RIDE THE HAUNTED MANSION ATTRACTION WITH KAT CRESSIDA, THE VOICE OF THE BLACK WIDOW BRIDE!" />
<meta property="og:site_name" content="Radio Disney's Haunted Halloween" />