---
title: Welcome to Middleman
---
<div class="container">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1 header">      
      <img class="full-w" src="https://s3.amazonaws.com/myfangate.com/rdhauntedsweepstakes/header.png">
    </div>
    <div class="col-lg-8 col-lg-offset-2 col-xs-8 col-xs-offset-2 text-center">      
      <h1>enter for a chance to win</h1>    
    </div>
    <div class="col-xs-10 col-xs-offset-1 text-center">
      <h2 class="cta">a trip to Disneyland to ride the Haunted Mansion attraction with kat cressida, the voice of the black widow bride!</h2>
    </div>
  </div>
</div>
<div class="mansion">
  <img src="https://s3.amazonaws.com/myfangate.com/rdhauntedsweepstakes/mansion.png">
</div>
<div class="snapshots">
  <img src="https://s3.amazonaws.com/myfangate.com/rdhauntedsweepstakes/snapshots.png">
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-12 col-xs-12 text-center">      
      <h1>How to enter</h1>
      <h2 class="instructions">upload a HAUNTED selfie or picture of you in your Halloween costume to Instagram using the hashtag</h2>
      <h2 class="hashtag instructions">#rdhauntedsweepstakes</h2>
    </div>
    <div class="col-lg-10 col-lg-offset-1 text-center">      
      <h1>One grand prize</h1>
      <h2 class="list-item">• round trip airefare for four(4) to anaheim, ca</h2>
      <h2 class="list-item">• four (4) tickets to disneyland</h2>
      <h2 class="list-item">• hotel accommodations</h2>
      <h2 class="list-item">• exclusive haunted mansion experience with the voice of the black widow bride</h2>
    </div>    
    <div class="col-lg-12 insta">
      <!-- SnapWidget -->
      <script src="https://snapwidget.com/js/snapwidget.js"></script>
      <iframe src="https://snapwidget.com/p/widget/?id=kDI6wrWn2Q&t=670" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%;"></iframe>
    </div>   
    <div class="col-lg-12 text-center">
      <h2 class="limit">Limit 10 entries per day, per instagram account through november 3, 2015</h2>
    </div> 
    <div class="col-lg-12 text-center">
      <h2 class="rules"><a href="#">OFFICIAL RULES</a></h2>
    </div>     
  </div>
</div>